In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gedebie abera\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\gedebie abera\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [35]:
import pandas as pd
data1 = pd.read_csv('../data/benin-malanville.csv')
data2 = pd.read_csv('../data/togo-dapaong_qc.csv')
data3 = pd.read_csv('../data/sierraleone-bumbuna.csv')

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

print(f'THIS IS THE FIRST DATA SET: \n {df1.head()}')
print(f'THIS IS THE FIRST DATA SET: \n {df2.head()}')
print(f'THIS IS THE FIRST DATA SET: \n {df3.head()}')

THIS IS THE FIRST DATA SET:
           Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0  2021-08-09 00:01 -1.2 -0.2 -1.1   0.0   0.0  26.2  93.4  0.0     0.4
1  2021-08-09 00:02 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.6  0.0     0.0
2  2021-08-09 00:03 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.7  0.3     1.1
3  2021-08-09 00:04 -1.1 -0.1 -1.0   0.0   0.0  26.2  93.3  0.2     0.7
4  2021-08-09 00:05 -1.0 -0.1 -1.0   0.0   0.0  26.2  93.3  0.1     0.7

   WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0      0.1  122.1      0.0  998         0            0.0   26.3   26.2
1      0.0    0.0      0.0  998         0            0.0   26.3   26.2
2      0.5  124.6      1.5  997         0            0.0   26.4   26.2
3      0.4  120.3      1.3  997         0            0.0   26.4   26.3
4      0.3  113.2      1.0  997         0            0.0   26.4   26.3

   Comments
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
THIS IS THE FIRST DATA SET:
           Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0  2021-10-25 00:01 -1.3  0.0  0.0   0.0   0.0  24.8  94.5  0.9     1.1
1  2021-10-25 00:02 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.1     1.6
2  2021-10-25 00:03 -1.3  0.0  0.0   0.0   0.0  24.8  94.4  1.2     1.4
3  2021-10-25 00:04 -1.2  0.0  0.0   0.0   0.0  24.8  94.3  1.2     1.6
4  2021-10-25 00:05 -1.2  0.0  0.0   0.0   0.0  24.8  94.0  1.3     1.6

   WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0      0.4  227.6      1.1  977         0            0.0   24.7   24.4
1      0.4  229.3      0.7  977         0            0.0   24.7   24.4
2      0.3  228.5      2.9  977         0            0.0   24.7   24.4
3      0.3  229.1      4.6  977         0            0.0   24.7   24.4
4      0.4  227.5      1.6  977         0            0.0   24.7   24.4

   Comments
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
THIS IS THE FIRST DATA SET:
           Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0  2021-10-30 00:01 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.1  0.0     0.0
1  2021-10-30 00:02 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.2  0.0     0.0
2  2021-10-30 00:03 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.2  0.0     0.0
3  2021-10-30 00:04 -0.7  0.0 -0.8   0.0   0.0  21.9  99.3  0.0     0.0
4  2021-10-30 00:05 -0.7 -0.1 -0.8   0.0   0.0  21.9  99.3  0.0     0.0

   WSstdev   WD  WDstdev    BP  Cleaning  Precipitation  TModA  TModB  \
0      0.0  0.0      0.0  1002         0            0.0   22.3   22.6
1      0.0  0.0      0.0  1002         0            0.0   22.3   22.6
2      0.0  0.0      0.0  1002         0            0.0   22.3   22.6
3      0.0  0.0      0.0  1002         0            0.1   22.3   22.6
4      0.0  0.0      0.0  1002         0            0.0   22.3   22.6

   Comments
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

In [36]:
missed1 = df1.isnull().sum()
missed2 = df2.isnull().sum()
missed3 = df3.isnull().sum()
print(f'This is the missed values: \n{missed1}')
print(f'This is the missed values: \n{missed2}')
print(f'This is the missed values: \n{missed3}')

This is the missed values:
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64
This is the missed values:
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64
This is the missed values:
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [39]:
df1_duplicated = df1[df1.duplicated]
df2_duplicated = df2[df2.duplicated]
df3_duplicated = df3[df3.duplicated]
print(len(df1_duplicated))
print(len(df2_duplicated))
print(len(df3_duplicated))

0
0
0

In [30]:
headers1 = df1.columns
headers2 = df2.columns
headers3 = df3.columns

def mean1():
    for header1 in headers1:
        if pd.api.types.is_numeric_dtype(df1[header1]):
            mean_value = df1[header1].mean()
            print(f'Mean of {header1}: {mean_value}')
        else:
            print(f'{header1} is not a numeric column.')

def mean2():
    for header2 in headers2:
        if pd.api.types.is_numeric_dtype(df2[header2]):
            mean_value = df2[header2].mean()
            print(f'Mean of {header2}: {mean_value}')
        else:
            print(f'{header2} is not a numeric column.')


def mean3():
    for header3 in headers3:
        if pd.api.types.is_numeric_dtype(df3[header3]):
            mean_value = df3[header3].mean()
            print(f'Mean of {header3}: {mean_value}')
        else:
            print(f'{header3} is not a numeric column.')
print(f'{mean1()} {mean2()} {mean3()}')

Timestamp is not a numeric column.
Mean of GHI: 240.559452435312
Mean of DNI: 167.18751598173515
Mean of DHI: 115.35896080669708
Mean of ModA: 236.5894961948249
Mean of ModB: 228.883575913242
Mean of Tamb: 28.179682838660575
Mean of RH: 54.4879691780822
Mean of WS: 2.121112823439878
Mean of WSgust: 2.8091948249619483
Mean of WSstdev: 0.4733896499238964
Mean of WD: 153.43517199391172
Mean of WDstdev: 8.582406582952814
Mean of BP: 994.197199391172
Mean of Cleaning: 0.0009227549467275495
Mean of Precipitation: 0.001904870624048706
Mean of TModA: 35.2460256849315
Mean of TModB: 32.47173554033485
Mean of Comments: nan
Timestamp is not a numeric column.
Mean of GHI: 230.55503976407917
Mean of DNI: 151.25846898782348
Mean of DHI: 116.44435235920854
Mean of ModA: 226.14437461948242
Mean of ModB: 219.56858808980218
Mean of Tamb: 27.75178805175039
Mean of RH: 55.01315981735161
Mean of WS: 2.3680934170471843
Mean of WSgust: 3.2294895357686455
Mean of WSstdev: 0.5577395357686454
Mean of WD: 161.74184531963462
Mean of WDstdev: 10.559568493150685
Mean of BP: 975.9152416286149
Mean of Cleaning: 0.0005346270928462709
Mean of Precipitation: 0.001382039573820396
Mean of TModA: 32.44440296803653
Mean of TModB: 33.54332971841705
Mean of Comments: nan
Timestamp is not a numeric column.
Mean of GHI: 201.95751522070017
Mean of DNI: 116.37633694824962
Mean of DHI: 113.720570585997
Mean of ModA: 206.6430951293759
Mean of ModB: 198.11469121004558
Mean of Tamb: 26.319394216133944
Mean of RH: 79.44885730593609
Mean of WS: 1.1461130136986302
Mean of WSgust: 1.6916059741248095
Mean of WSstdev: 0.36382286910197875
Mean of WD: 133.0446683789954
Mean of WDstdev: 7.1722197488584465
Mean of BP: 999.8764687975647
Mean of Cleaning: 0.0009665144596651446
Mean of Precipitation: 0.00480593607305936
Mean of TModA: 32.504263127853875
Mean of TModB: 32.5930905631659
Mean of Comments: nan
None None None